# Виртуальное окружение
.venv/

# Кеши Python
__pycache__/
*.pyc
*.pyo

# Файлы IDE и редакторов
.idea/
.vscode/

# Логи и временные файлы
*.log
*.swp
*.bak

# Системные файлы
.DS_Store
Thumbs.db

.env